main {
  padding: 100px 100px;
}

.appBar-icon {
  padding-right: 10px;
}

.formContainer,
.footerContainer {
  margin-bottom: 50px;
}

.topCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardImage img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.loginName {
  text-transform: uppercase;
}

.errorContainer p {
  text-align: center;
  color: red;
  font-style: italic;
}
