main {
  padding: 100px 100px;
}

.appBar-icon {
  padding-right: 10px;
}

.formContainer,
.footerContainer {
  margin-bottom: 50px;
}

.cardContainer {
  height: 400px;
}

.topCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardImage img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.cardLink {
  text-decoration: none;
}

.cardBio {
  height: 100px;
}

.moreCardContent {
  height: 40px;
}

.bottomCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.loginName {
  text-transform: uppercase;
}

.errorContainer p {
  text-align: center;
  color: red;
  font-style: italic;
}

.emptyPageContainer {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyPageContainer i {
  color: #d3d3d3;
}

.emptyPageContainer p {
  color: gray;
}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  font-family: "Arial";
  font-size: 12px;
}

.hide {
  display: none;
}
